@use '~/theme' as theme;
@use 'sass:color';

@mixin glassEffect() {
  $color: theme.$bg-color;
  $lightness: 40%;
  $opacity: 0.1;
  $blur: 2px;

  background: rgba(color.adjust($color, $lightness: $lightness), $opacity);
  backdrop-filter: blur($blur);
}
