@use '~/theme' as theme;
@use 'sass:color';
@use 'sass:map';

@mixin glassEffect() {
  $color: map.get(theme.$glass, 'color');
  $lightness: map.get(theme.$glass, 'lightness');
  $opacity: map.get(theme.$glass, 'opacity');
  $blur: map.get(theme.$glass, 'blur');

  background: rgba(color.adjust($color, $lightness: $lightness), $opacity);
  backdrop-filter: blur($blur);
}
