@theme {
  --color-background: var(--color-zinc-950);
  --color-background-inverse: var(--color-zinc-50);
  --color-primary: var(--color-yellow-500);
  --color-primary-inverse: var(--color-zinc-950);
  --color-secondary: var(--color-cyan-500);
  --color-secondary-inverse: var(--color-zinc-950);
  --color-tertiary: var(--color-purple-500);
  --color-tertiary-inverse: var(--color-zinc-950);
  --color-success: var(--color-green-500);
  --color-success-inverse: var(--color-zinc-950);
  --color-danger: var(--color-red-500);
  --color-danger-inverse: var(--color-zinc-950);
  --color-info: var(--color-blue-500);
  --color-info-inverse: var(--color-zinc-950);
  --color-warning: var(--color-orange-500);
  --color-warning-inverse: var(--color-zinc-950);

  --bg-texture: url('/assets/texture.png');

  --duration-default: 300ms;
  --hover-default: 80%;
  --active-default: 95%;
}
