@use '~/theme' as theme;
@use '~util/responsive' as responsive;
@use '~effect/glass-effect' as effect;
@use 'sass:map';

@mixin aside() {
  $aside: map.get(theme.$elements, 'aside');
  $width: map.get($aside, 'width');
  $padding: map.get($aside, 'padding');

  flex: 0;
  padding: $padding;
  width: $width;
  min-width: $width;
  overflow-x: hidden;
  overflow-y: auto;

  @include effect.glassEffect();

  @include responsive.responsive(
    $large: (),
    $medium: (),
    $small: (
      display: none,
    )
  );
}
