@use '~/theme' as theme;
@use '~effect/glass-effect' as effect;
@use '~util/responsive' as responsive;

@mixin aside() {
  flex: 0;
  height: 100vh;
  min-width: min-content;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 10px 5px 10px;

  &.open {
    display: block;
    position: absolute;
    backdrop-filter: blur(20px);
    z-index: 99999;
    width: 100vw;
  }

  @include effect.glassEffect();

  @include responsive.responsive(
    $large: (),
    $medium: (),
    $small: (
      display: none,
    )
  );
}
