@use '~/theme' as theme;
@use '~effect/glass-effect' as effect;
@use '~util/responsive' as responsive;

@mixin header() {
  flex: 0;
  padding: 10px;

  @include effect.glassEffect();

  @include responsive.responsive(
    $large: (
      display: none,
    ),
    $medium: (
      display: none,
    ),
    $small: ()
  );
}
