@use '~util/responsive' as responsive;
@use '~effect/glass-effect' as effect;

@mixin header() {
  flex: 0;

  @include effect.glassEffect();

  @include responsive.responsive(
    $large: (
      display: none,
    ),
    $medium: (
      display: none,
    ),
    $small: ()
  );
}
