@use '~/theme' as theme;
@use '~util/responsive' as responsive;

@mixin main() {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;

  @include responsive.responsive(
    $large: (
      padding: 5px 10px 5px 0px,
    ),
    $medium: (
      padding: 5px 10px 5px 0px,
    ),
    $small: (
      padding: 0px 10px 10px 10px,
    )
  );

  * {
    flex: 0;
  }
}
