@use '~/theme' as theme;
@use '~util/responsive' as responsive;
@use '~element/header' as header;
@use '~element/aside' as aside;
@use '~element/main' as main;
@use 'sass:map';

@mixin scaffold() {
  $scaffold: map.get(theme.$elements, 'scaffold');
  $gap: map.get($scaffold, 'gap');

  display: flex;
  gap: $gap;

  @include responsive.responsive(
    $large: (
      flex-direction: row,
    ),
    $medium: (
      flex-direction: row,
    ),
    $small: (
      flex-direction: column,
    )
  );

  > header {
    @include header.header();
  }

  > aside {
    @include aside.aside();
  }

  > main {
    @include main.main();
  }
}
