$gap: 5px;

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $gap;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.p {
    padding: $gap;
  }

  &.px {
    padding-left: $gap;
    padding-right: $gap;
  }

  &.py {
    padding-top: $gap;
    padding-bottom: $gap;
  }
}
