@use '~/theme' as theme;
@use 'sass:map';

$size: map.get(theme.$scrollbar, 'size');
$color: map.get(theme.$scrollbar, 'color');
$bar: map.get(theme.$scrollbar, 'bar');
$bar-hover: map.get(theme.$scrollbar, 'bar-hover');
$cursor: map.get(theme.$scrollbar, 'cursor');

::-webkit-scrollbar {
  width: $size;
  height: $size;
}

::-webkit-scrollbar-track {
  background: $color;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: $bar;
  border-radius: 0px;
  border: 1px solid $color;
  cursor: $cursor;
}

::-webkit-scrollbar-thumb:hover {
  background: $bar-hover;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: $bar-hover $color;
}
