@use '~/theme' as theme;
@use '~function/colors' as function_colors;

@mixin anchor-tag() {
  a {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: smaller;
    gap: 3px;
    text-decoration: none;

    color: theme.$secondary-color;

    &:not([disabled]) {
      &:hover {
        text-decoration: underline;
        color: function_colors.darken(theme.$secondary-color, 5%);
      }

      &:active {
        text-decoration: underline;
        color: function_colors.darken(theme.$secondary-color, 10%);
      }

      &.main {
        text-shadow: 0px 0px 3px theme.$secondary-color;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

@include anchor-tag();
