@use '~/theme' as theme;
@use '~function/colors' as function_colors;

@mixin anchor-color($color, $hover, $active) {
  color: $color;

  &:not([disabled]) {
    &:hover {
      text-decoration: underline;
      color: function_colors.opacity($color, $hover);
    }

    &:active {
      text-decoration: underline;
      color: function_colors.opacity($color, $active);
    }
  }
}

@mixin anchor-tag() {
  $color: theme.getColor('secondary');
  $danger-color: theme.getColor('danger');

  $hover: 0.8;
  $active: 0.6;
  $disabled: 0.4;

  $gap: 2px;
  $shadow: 0px 0px 2px $color;

  a {
    color: $color;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: smaller;
    gap: $gap;
    text-decoration: none;
    text-wrap: nowrap;

    @include anchor-color($color, $hover, $active);

    &.danger {
      @include anchor-color($danger-color, $hover, $active);
    }

    &.main {
      text-shadow: $shadow;
    }

    &[disabled] {
      pointer-events: none;
      opacity: $disabled;
    }
  }
}

@include anchor-tag();
