@use '~/theme' as theme;
@use '~function/colors' as function_colors;

@mixin btn-color($color, $inverse, $hover, $active) {
  background-color: $color;
  color: $inverse;

  &:not([disabled]) {
    &:hover {
      background-color: function_colors.opacity($color, $hover);
    }

    &:active {
      background-color: function_colors.opacity($color, $active);
    }
  }
}

@mixin button-tag() {
  $color: theme.getColor('secondary');
  $inverse: theme.getColor('secondary', true);
  $danger: theme.getColor('danger');
  $danger-inverse: theme.getColor('danger', true);

  $hover: 0.8;
  $active: 0.6;
  $disabled: 0.4;

  $gap: 3px;
  $padding: 5px 10px;
  $radius: 5px;

  $shadow-text: 0px 0px 2px $inverse;
  $shadow: 0px 0px 3px 0px $color;

  button {
    border-radius: $radius;
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $gap;
    outline: none;
    padding: $padding;
    text-wrap: nowrap;

    @include btn-color($color, $inverse, $hover, $active);

    &.danger {
      @include btn-color($danger, $danger-inverse, $hover, $active);
    }

    &.main {
      box-shadow: $shadow;
      text-shadow: $shadow-text;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: $disabled;
    }
  }
}

@include button-tag();
