@use '~/theme' as theme;
@use 'sass:color';

@mixin button-tag() {
  button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
    outline: none;
    padding: 5px 10px;

    background-color: theme.$secondary-color;
    color: theme.$secondary-inverse-color;

    &:hover {
      background-color: color.adjust(theme.$secondary-color, $lightness: -5%);
    }

    &:active {
      background-color: color.adjust(theme.$secondary-color, $lightness: -10%);
    }
  }
}

@include button-tag();
