@use '~/theme' as theme;
@use '~function/colors' as function_colors;

@mixin h-tags() {
  $color: theme.getColor('primary');

  $elements: h1, h2, h3, h4, h5, h6;
  $scale: 0.2;
  $size: 2em;
  $small: 0.6;

  @each $element in $elements {
    #{$element} {
      color: $color;
      display: flex;
      flex-direction: column;
      font-size: $size;
      margin: 0;

      > small {
        color: function_colors.opacity($color, $small);
        font-size: smaller;
        font-weight: lighter;
      }

      $size: $size - $scale;
    }
  }
}

@include h-tags();
