@use '~/theme' as theme;
@use '~function/colors' as function_colors;

@mixin h-tags() {
  $elements: h1, h2, h3, h4, h5, h6;
  $size: 2em;
  $scale: 0.2;
  $small_lightness: 20%;

  @each $element in $elements {
    #{$element} {
      display: flex;
      flex-direction: column;
      margin: 0;

      color: theme.$primary-color;
      font-size: $size;

      > small {
        color: function_colors.darken(theme.$primary-color, $small_lightness);
        font-size: smaller;
        font-weight: lighter;
      }

      $size: $size - $scale;
    }
  }
}

@include h-tags();
