@use '~util/responsive.mixin' as responsive;
@use '~effect/glass-effect.mixin' as glass;

@mixin aside-mixin() {
  flex: 0;

  @include glass.glass-effect();

  @include responsive.responsive-mixin(
    $large: (),
    $medium: (),
    $small: (
      display: none,
    )
  );
}
