@forward 'modules/bootstrap-icons/font/bootstrap-icons.min.css';
@forward '~util/fonts';
@forward '~util/scrollbar';
@forward '~util/flex';

@forward '~tag/anchor';
@forward '~tag/button';
@forward '~tag/h';

@use '~/theme' as theme;
@use '~element/scaffold' as scaffold;

* {
  box-sizing: border-box;
  font-family: theme.$font-family;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  background-image: theme.$bg-texture;
  background-color: theme.getColor('background');
  color: theme.getColor('text');

  * {
    flex: 1;
  }

  > .scaffold {
    @include scaffold.scaffold();
  }
}
