@use '~element/scaffold' as scaffold;
@use '~/theme' as theme;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: theme.$bg-texture;
  background-color: theme.$bg-color;
  color: theme.$text-color;

  display: flex;

  * {
    flex: 1;
  }

  > .scaffold {
    @include scaffold.scaffold();
  }
}
